<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>MtGox</string>
		<key>ticker</key>
		<string>MtGoxTicker</string>
		<key>link</key>
		<string>https://mtgox.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>比特币中国</string>
		<key>ticker</key>
		<string>btcchinaTicker</string>
		<key>link</key>
		<string>https://btcchina.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OKCoin</string>
		<key>ticker</key>
		<string>okcoinTicker</string>
		<key>link</key>
		<string>https://www.okcoin.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>btcTrade</string>
		<key>ticker</key>
		<string>btctradeTicker</string>
		<key>link</key>
		<string>http://www.btctrade.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bitstamp</string>
		<key>ticker</key>
		<string>bitstampTicker</string>
		<key>link</key>
		<string>https://www.bitstamp.net/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FXBTC</string>
		<key>ticker</key>
		<string>fxbtcTicker</string>
		<key>link</key>
		<string>https://www.fxbtc.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>火币网</string>
		<key>ticker</key>
		<string>huobiTicker</string>
		<key>link</key>
		<string>http://www.huobi.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BTC100</string>
		<key>ticker</key>
		<string>btc100Ticker</string>
		<key>link</key>
		<string>https://btc100.org/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>796期货</string>
		<key>ticker</key>
		<string>796futuresTicker</string>
		<key>link</key>
		<string>https://796.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>中国比特币</string>
		<key>ticker</key>
		<string>chbtcTicker</string>
		<key>link</key>
		<string>https://www.chbtc.com/</string>
	</dict>
	<dict>
		<key>name</key>
		<string>LTC/CNY</string>
		<key>ticker</key>
		<string>fxbtcLTCCNYticker</string>
		<key>link</key>
		<string>https://www.fxbtc.com/s/ltc_cny</string>
	</dict>
</array>
</plist>
